form {

    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: auto;
    margin-left: auto;

}

form h3 {

    font-size: 18pt;
    text-decoration: underline;

}

#mid-section {

    flex-direction: column;

}

#pass-lbl {

    margin-top: 10px;

}

button {

    margin-top: 10px;
    height: 50px;
    border-radius: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(4, 7, 196, 0.493);
    font-size: 14pt;
    font-weight: bold;

}