form {

    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: auto;
    margin-left: auto;

}

form h3 {

    font-size: 18pt;
    text-decoration: underline;

}

#mid-section {

    flex-direction: column;

}

#pass-lbl {

    margin-top: 10px;

}

button {

    margin-top: 10px;

}